
:root.dark {
    --bgc: rgb(20, 20, 20);
    --fontColor: rgb(255, 255, 255);
}

:root.light {
    --bgc: rgb(255, 255, 255);
    --fontColor: rgb(106, 106, 106);
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imgDiv {
    position: relative;
}

body section img {
    height: 100vh;
}

body {
    position: relative;
    overflow: hidden;
}

#main {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: flex-end;
}


#formContainer {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    min-width: 415px;
    background-color: white;
    padding: 20px;
    overflow-y: scroll;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    gap: 13px;
}

#complete {
    color: var(--fontColor);
    font-size: 14px;
    gap: 20px;
}

#createBtn {
    font-size: 17px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    border: none;
    padding: 7px;
    cursor: pointer;
}

#credit {
    position: absolute;
    top: 90.9vh;
    left: 70px;
    opacity: 40%;
}


#resetBtn {
    font-size: 14px;
    color: rgb(111, 111, 111);
    background-color: rgb(238, 238, 238);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 4px;
}

#frame {
    position: absolute;
    border: 2px solid white;
    top: 50px;
    left: 50px;
    height: 89vh;
    width: 70vw;
    opacity: 50%;
}

a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

form > p {
    color: var(--fontColor);
}

#img2 {
    object-position: -200px;
    display: none;
}

fieldset input {
    padding: 5px 10px;
}

@media only screen and (max-width: 1500px) {
    #img2 {
        display: block;
    }
    #img1 {
        display: none;
    }
}

@media only screen and (max-width: 1234px) {
    #img2 {
        object-position: -400px;
    }
}

@media only screen and (max-width: 1035px) {
    #img2 {
        object-position: -600px;
    }
}


#oculusLogo {
    height: 50px;
}

#pass1:invalid,
#pass2:invalid,
#email:invalid {
    border: 1.5px solid red;
    border-radius: 2px;
}

#validPass,
#matchPass,
#validPass2,
#validEmail {
    font-size: 11px;
    color: red;
}


